/* PARA FIXAR */
/* Posicionamento de Elementos */

.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }

  /* PARA FIXAR I && II */
  /* Agrupamento de Seletores e Pseudoclasses */

  /* PARA FIXAR */
/* Combinações e Classes Descendentes */
